<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aleskovacic.pact">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.aleskovacic.pact.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:textColor="@color/black"
        android:theme="@style/AppTheme">
        android:name="android.support.multidex.MultiDexApplication">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps_api_key" />
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".activities.SearchActivity" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />

        <activity
            android:name="com.aleskovacic.pact.activities.MapsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aleskovacic.pact.activities.ListActivity"
            android:label="@string/title_activity_list" />
        <activity
            android:name="com.aleskovacic.pact.activities.EventActivity"
            android:label="@string/title_activity_event"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.aleskovacic.pact.activities.SearchActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.aleskovacic.pact.activities.MapsActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aleskovacic.pact.activities.MapsActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />
        <activity
            android:name="com.facebook.accountkit.ui.AccountKitActivity"
            android:theme="@style/AppLoginTheme"
            tools:replace="android:theme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/ak_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aleskovacic.pact.activities.signupactivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.aleskovacic.pact.activities.LogoutActivity" />
        <activity android:name="com.aleskovacic.pact.activities.MapsMessageActivity" />
        <activity android:name="com.aleskovacic.pact.activities.GeoMessageActivity" />
        <activity android:name="com.aleskovacic.pact.activities.Message" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aleskovacic.pact.activities.LogInActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.aleskovacic.pact.activities.MessageChatActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.aleskovacic.pact.activities.AboutUs" />
        <activity android:name="com.aleskovacic.pact.activities.RecoveryActivity" />
        <activity
            android:name="com.aleskovacic.pact.activities.ContactUs"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.aleskovacic.pact.activities.Myprofile" />
        <activity android:name="com.aleskovacic.pact.activities.Phototest" />
        <activity android:name="com.aleskovacic.pact.activities.AddEvent"></activity>
    </application>

</manifest>